@use 'sass:math';
.knob {
    width: auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    margin: 10px;
    background: conic-gradient(
        from 45deg,
        #505050,
        black,
        #505050,
        black,
        #505050,
        black,
        #505050
    );
    .knob-marker {
        width: 3.5%;
        height: 32%;
        background-color: white;
        transform-origin: bottom;
        position: absolute;
        bottom: 50%;
        right: 50%;
    }
    &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}
