@use 'sass:math';
$knobDim: 6vw;
.knob {
    width: $knobDim;
    height: $knobDim;
    border-radius: 50%;
    background-color: black;
    position: relative;
    .knob-marker {
        width: 3px;
        height: math.div($knobDim, 3);
        background-color: white;
        transform-origin: bottom;
        position: absolute;
        bottom: 50%;
        right: 50%;
    }
}
