.switchButtons{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    .output{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 1vh;
        }
        div{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: darkred;
            cursor: pointer;
            margin: 10px;
            &.active{
                background-color: red;
            }
        }
    }
}