/*
div{
    @include center-auto()
}
*/
/*
    div{
        background-image: url('pic.jpg');
        @include mixin.cover-background();
    }
*/
/* .menu li {
        @include absolute(top 100% left 0)    
    }
    .sticky-bar{
        @include fixed(top 0 left 0)
    }
    .submenu{
        @include relative()
    }
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
  border-color: transparent;
  text-transform: capitalize;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/*
div{
    @include center-auto()
}
*/
/*
    div{
        background-image: url('pic.jpg');
        @include mixin.cover-background();
    }
*/
/* .menu li {
        @include absolute(top 100% left 0)    
    }
    .sticky-bar{
        @include fixed(top 0 left 0)
    }
    .submenu{
        @include relative()
    }
*/
* {
  user-select: none;
}

body {
  min-height: 100vh;
  background-color: black;
  text-align: center;
}

body * {
  font-family: "Courier New", Courier, monospace;
}

body #root {
  height: 100vh;
}

body .error {
  margin: auto;
}

/*
div{
    @include center-auto()
}
*/
/*
    div{
        background-image: url('pic.jpg');
        @include mixin.cover-background();
    }
*/
/* .menu li {
        @include absolute(top 100% left 0)    
    }
    .sticky-bar{
        @include fixed(top 0 left 0)
    }
    .submenu{
        @include relative()
    }
*/
.synth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 2%;
  background-color: #7b3f00;
  color: white;
  text-align: center;
  font-size: 16px;
}

.synth * {
  font-family: "Courier New", Courier, monospace;
}

.synth .icon {
  position: absolute;
  font-size: 70px;
  color: white;
}

.synth .icon:last-of-type {
  right: 0;
}

.synth .textBox {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.synth .textBox p {
  min-width: 50px;
}

.synth .sep {
  height: 2px;
  width: 90%;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}

.synth .modules {
  width: 95%;
  height: 50%;
  display: flex;
  flex-direction: row;
  background-color: black;
  overflow: auto;
  position: relative;
}

.synth .modules .module {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 2px solid white;
}

.synth .modules .module .knob {
  min-width: 50px;
  max-width: 135px;
}

@media screen and (min-width: 955px) {
  .synth .modules .module .knob {
    width: 133px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (orientation: landscape) {
  .synth .modules .module .knob {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (orientation: landscape) and (max-height: 750px) {
  .synth .modules .module .knob {
    max-width: 100px;
  }
}
@media screen and (max-height: 750px) {
  .synth .modules .module * {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.synth .envelopes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.synth .envelopes .envelope {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid white;
}

.synth .envelopes .envelope .knob {
  width: 100%;
}

@media screen and (max-width: 743px) {
  .synth .envelopes .envelope {
    flex-wrap: wrap;
    overflow: auto;
  }
}
.synth .keyboard {
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 8px;
}

.synth .keyboard .note {
  height: 100px;
}

.synth .midi {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 20px;
}

.synth .midi:hover {
  background-color: #404040;
}

.knob {
  width: auto;
  height: auto;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  margin: 10px;
  background: conic-gradient(from 45deg, #505050, black, #505050, black, #505050, black, #505050);
}

.knob .knob-marker {
  width: 3.5%;
  height: 32%;
  background-color: white;
  transform-origin: bottom;
  position: absolute;
  bottom: 50%;
  right: 50%;
}

.knob:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.note {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 4px solid black;
  margin-right: -4px;
  cursor: pointer;
  background-color: white;
}

.note:nth-of-type(12n - 10), .note:nth-of-type(12n - 8), .note:nth-of-type(12n - 5), .note:nth-of-type(12n - 3), .note:nth-of-type(12n - 1) {
  width: 75%;
  background-color: black;
}

.note.active {
  background-color: gray;
}

.switchButtons {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.switchButtons .output {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.switchButtons .output img {
  width: 1vh;
}

.switchButtons .output div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: darkred;
  cursor: pointer;
  margin: 10px;
}

.switchButtons .output div.active {
  background-color: red;
}

.startPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startPage button {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 10px outset lightgray;
  color: black;
}

.startPage button:hover {
  background-color: #b9b9b9;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

.loading h1 {
  font-size: 50px;
}

.loading h1::after {
  animation: dotDotDot 3.4s linear infinite;
  content: "Loading";
}

@keyframes dotDotDot {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
  100% {
    content: "Loading...";
  }
}
.octahedron {
  width: 20vw;
  height: 34.6410161514vw;
  transform-style: preserve-3d;
  animation: spin 3.4s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(90deg);
  }
}
.octahedron div {
  width: 100%;
  height: 17.3205080757vw;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform-origin: bottom;
}

.octahedron div:nth-of-type(1) {
  transform: rotateY(0deg) translateZ(10vw) rotateX(35.2643896828deg);
  background-color: white;
}

.octahedron div:nth-of-type(2) {
  transform: rotateY(90deg) translateZ(10vw) rotateX(35.2643896828deg);
  background-color: #d7d7d7;
}

.octahedron div:nth-of-type(3) {
  transform: rotateY(180deg) translateZ(10vw) rotateX(35.2643896828deg);
  background-color: #efefef;
}

.octahedron div:nth-of-type(4) {
  transform: rotateY(270deg) translateZ(10vw) rotateX(35.2643896828deg);
  background-color: #e7e7e7;
}

.octahedron div:nth-of-type(5) {
  transform: rotateY(0deg) translateZ(10vw) rotateX(144.7356103172deg);
  background-color: #dfdfdf;
}

.octahedron div:nth-of-type(6) {
  transform: rotateY(90deg) translateZ(10vw) rotateX(144.7356103172deg);
  background-color: white;
}

.octahedron div:nth-of-type(7) {
  transform: rotateY(180deg) translateZ(10vw) rotateX(144.7356103172deg);
  background-color: #cfcfcf;
}

.octahedron div:nth-of-type(8) {
  transform: rotateY(270deg) translateZ(10vw) rotateX(144.7356103172deg);
  background-color: #c7c7c7;
}

/*# sourceMappingURL=octahedron.css.map */

/*# sourceMappingURL=main.css.map */
