@import '../themes/defaultTheme';
@import '../util/variables';
@import '../util/mixins';

* {
    user-select: none;
}
body {
    min-height: 100vh;
    background-color: black;
    text-align: center;
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    #root {
        height: 100vh;
    }
    .error{
        margin: auto;
    }
}
